<template>
  <div class="home-page">
    <div class="home-top">
      {{tips}}，{{name}}
    </div>
    <div class="home-bottom">
      
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "Bhome",
  data() {
    return {
      tips: '欢迎登录',
    };
  },
  components: {},
  computed: {
    ...mapGetters([
      'adminId',
      'name',
      'companyId',
      'phone',
      'companyName'
    ])
  },
  created() {
    this.gotTime();
  },
  activated() {},
  deactivated() {},
  mounted () {
    this.$nextTick(() => {
      
    })
  },
  updated () {
    this.$nextTick(() => {
      
    })
  },
  methods: {
    gotHeight () {
      this.$nextTick(() => {
       
      })
    },
    gotTime () {
      let date = new Date();
      let hours = date.getHours();
      if (hours >= 13) {
        this.tips = '下午好'
      } else {
        this.tips = '上午好'
      }
    }
  }
};
</script>


<style scoped>
.home-page {
  position: absolute;
  left: 10px;
  top: 40px;
  right: 10px;
  bottom: 10px;
  background: #fff;
}
.home-page .home-top {
  width: 100%;
  height: 100px;
  line-height: 100px;
  padding: 0 30px;
  color: #333;
  font-size: 14px;
}
.home-bottom {
  width: 100%;
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-banner {
  width: 900px;
}
.home-banner img{
  width: 100%;
}
</style>
