<template>
  <div class="table">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-lx-cascades crumbs-i-right"></i>APP版本管理
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container container-table">
      <el-form label-width="100px" :inline="true">
        <el-form-item label="家长端App">
          <el-upload
            class="avatar-uploader"
            action="/conmon/Upload.do"
            :show-file-list="false"
            :on-success="ImageSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="kidCode" :src="kidCode" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
          <p><el-tag type="warning">上传图片只能是 JPG 或者PNG格式!</el-tag></p>
          <p><el-tag type="warning">上传图片大小不能超过 0.5MB!</el-tag></p>
        </el-form-item>
        <el-form-item label="教师端APP">
          <el-upload
            class="avatar-uploader"
            action="/conmon/Upload.do"
            :show-file-list="false"
            :on-success="ImageSuccessCode"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="teacherCode" :src="teacherCode" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
          <p><el-tag type="warning">上传图片只能是 JPG 或者PNG格式!</el-tag></p>
          <p><el-tag type="warning">上传图片大小不能超过 0.5MB!</el-tag></p>
        </el-form-item>
      </el-form>
      <div class="handle-box" style="text-align: center;margin-top: 30px">
        <el-button type="primary" icon="search" @click="handleAdd">上传二维码</el-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      kidCode: "",
      teacherCode: ""
    };
  },
  computed: {
    ...mapGetters([
      'adminId'
    ])
  },
  created() {
    this.submitData()
  },
  mounted() {},
  methods: {
    submitData() {
      this.axios
      .post("/code/DownloadCode.do", {})
      .then(response => {
        let result_data = response.data;
        if (parseInt(result_data.status) === 1) {
          let result = result_data.data;
          this.teacherCode = result.teacherCode;
          this.kidCode = result.kidCode;
        } else {
          this.$message({
            message: result_data.msg,
            type: "error",
            duration: 1000
          });
        }
      })
      .catch(error => {
        this.$message({
          message: error.message,
          type: "error",
          duration: 1000
        });
      });
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg" || "image/png";
      if (!isJPG) {
        this.$message.error("上传头像图片只能是 JPG 或者PNG格式!");
      }
      return isJPG;
    },
    ImageSuccess(response, file, fileList) {
      let result_data = response;
      if (parseInt(result_data.status) === 1) {
        this.kidCode = result_data.path;
        this.$message({
          message: result_data.msg,
          type: "success",
          duration: 1000
        });
      } else {
        this.$message({
          message: result_data.msg,
          type: "error",
          duration: 1000
        });
      }
    },
    ImageSuccessCode(response, file, fileList) {
      let result_data = response;
      if (parseInt(result_data.status) === 1) {
        this.teacherCode = result_data.path;
        this.$message({
          message: result_data.msg,
          type: "success",
          duration: 1000
        });
      } else {
        this.$message({
          message: result_data.msg,
          type: "error",
          duration: 1000
        });
      }
    },
    handleAdd() {
      if (this.kidCode === '' && this.teacherCode === '') {
        this.$message({
          message: '必须上传一个二维码',
          type: "warning",
          duration: 1000
        });
        return false
      }
      this.axios
      .post("/code/UploadCode.do", {
        kidCode: this.kidCode,
        teacherCode: this.teacherCode,
        createBy: this.adminId
      })
      .then(response => {
        let result_data = response.data;
        if (parseInt(result_data.status) === 1) {
          this.$message({
            message: result_data.msg,
            type: "success",
            duration: 1000
          });
        } else {
          this.$message({
            message: result_data.msg,
            type: "error",
            duration: 1000
          });
        }
      })
      .catch(error => {
        this.$message({
          message: error.message,
          type: "error",
          duration: 1000
        });
      });
    },
  },
  components: {
  }
};
</script>

<style scoped>
.handle-box {
  margin-bottom: 20px;
}

.handle-select {
  width: 120px;
}

.handle-input {
  width: 200px;
  display: inline-block;
}
.del-dialog-cnt {
  font-size: 16px;
  text-align: center;
}
.table {
  width: 100%;
  font-size: 14px;
}
.red {
  color: #ff0000;
}
.crumbs-i-right {
  margin-right: 10px;
}
.table-search {
  padding: 30px 30px 10px;
}
.container-table {
  min-height: 540px;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 360px;
  height: 180px;
  line-height: 180px;
  text-align: center;
}
.avatar {
  width: 360px;
  height: 180px;
  display: block;
}
</style>
