<template>
  <div class="table">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-search crumbs-i-right"></i>筛选查询
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container table-search">
      <div>
        <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
          <el-form-item label="学校名称" prop="name">
            <el-input v-model="searchform.name" placeholder="请输入学校名称" class="handle-input"></el-input>
          </el-form-item>
          <el-button type="primary" @click="search">查询</el-button>
          <el-button type="primary" @click="searchReset('searchform')">重置</el-button>
        </el-form>
      </div>
    </div>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-lx-cascades crumbs-i-right"></i>数据列表
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container container-table">
      <div class="handle-box">
        <el-select v-model="limit" placeholder="显示条数" class="handle-select" @change="changeLimit">
          <el-option key="1" label="每页10条" value="10"></el-option>
          <el-option key="2" label="每页20条" value="20"></el-option>
          <el-option key="3" label="每页30条" value="30"></el-option>
        </el-select>
        <el-button type="primary" icon="search" @click="handleAdd">添加学校</el-button>
      </div>
      <el-table
        :data="tableData"
        border
        class="table"
      >
        <el-table-column prop="id" label="ID" width="100"></el-table-column>
        <el-table-column prop="name" label="学校名称" width="200"></el-table-column>
        <el-table-column prop="provinceName" label="学校地址" width="250">
           <template slot-scope="scope">
             <div>{{scope.row.provinceName}}{{scope.row.cityName}}{{scope.row.areaName}}</div>
             <div>{{scope.row.addressDetail}}</div>
          </template>
        </el-table-column>
        <el-table-column prop="leaderName" label="院长" width="200"></el-table-column>
        <el-table-column prop="leaderPhone" label="院长电话" width="200"></el-table-column>
        <el-table-column prop="contactsName" label="联系人" width="200"></el-table-column>
        <el-table-column prop="contactsPhone" label="联系人电话" width="200"></el-table-column>
        <el-table-column label="设备绑定" width="200" align="center" fixed="right">
          <template slot-scope="scope">
            <el-button
              type="text"
              icon="el-icon-search"
              @click="handleXlhCat(scope.$index, scope.row)"
            >查看</el-button>
            <el-button
              type="text"
              icon="el-icon-download"
              @click="handleExport(scope.$index, scope.row)"
            >导出</el-button>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="200" align="center" fixed="right">
          <template slot-scope="scope">
            <el-button
              type="text"
              icon="el-icon-search"
              @click="handleCat(scope.$index, scope.row)"
            >查看</el-button>
            <el-button
              type="text"
              icon="el-icon-edit"
              @click="handleEdit(scope.$index, scope.row)"
            >编辑</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="pagination">
        <el-pagination
          background
          @current-change="handleCurrentChange"
          layout="prev, pager, next"
          :total="total"
          :page-size="pageLimit"
          :current-page.sync="page"
        ></el-pagination>
      </div>
    </div>
    <!-- 新增学校 -->
    <el-dialog title="新增" :visible.sync="addVisible" width="60%" @close="closeDialog('addform')">
      <el-form ref="addform" :model="addform" label-width="100px" :rules="rules">
        <el-form-item label="学校名称" prop="name">
          <el-input v-model="addform.name" placeholder="请输入学校名称" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="学校照片" required>
          <el-upload
            class="avatar-uploader"
            action="/conmon/Upload.do"
            :show-file-list="false"
            :on-success="ImgSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="img" :src="img" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
          <p><el-tag type="warning">上传图片只能是 JPG 或者PNG格式!</el-tag></p>
          <p><el-tag type="warning">上传图片大小不能超过 0.5MB!</el-tag></p>
        </el-form-item>
        <el-form-item label="学校地址" required>
          <el-col :span="8">
            <el-form-item prop="province">
              <el-select v-model="province" filterable placeholder="请选择省" @change="selectProvince">
                <el-option
                  v-for="item in provinces"
                  :key="item.index"
                  :label="item.areaName"
                  :value="item.areaId">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item prop="city">
              <el-select v-model="city" filterable placeholder="请选择市" @change="selectCity">
                <el-option
                  v-for="item in citys"
                  :key="item.index"
                  :label="item.areaName"
                  :value="item.areaId">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item prop="areaId">
              <el-select v-model="areaId" filterable placeholder="请选择区">
                <el-option
                  v-for="item in areas"
                  :key="item.index"
                  :label="item.areaName"
                  :value="item.areaId">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item label="详情地址" prop="addressDetail">
          <el-input
            type="textarea"
            :rows="2"
            resize="none"
            placeholder="请输入详情地址"
            v-model="addform.addressDetail">
          </el-input>
        </el-form-item>
        <el-form-item label="上级公司" prop="parentId">
          <el-select v-model="addform.parentId" filterable clearable placeholder="请选择上级公司">
            <el-option
              v-for="item in companys"
              :key="item.index"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="营业执照" required>
          <el-upload
            class="avatar-uploader"
            action="/conmon/Upload.do"
            :show-file-list="false"
            :on-success="LicenceImgSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="licenceImg" :src="licenceImg" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
          <p><el-tag type="warning">上传图片只能是 JPG 或者PNG格式!</el-tag></p>
          <p><el-tag type="warning">上传图片大小不能超过 0.5MB!</el-tag></p>
        </el-form-item>
        <el-form-item label="营业执照编号" prop="licenceCode">
          <el-input v-model="addform.licenceCode" placeholder="请输入营业执照编号" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="学校成立时间" prop="companyCreateTime">
          <el-date-picker
            class="handle-input"
            v-model="addform.companyCreateTime"
            type="date"
            value-format="yyyy-MM-dd"
            placeholder="学校成立时间"
          ></el-date-picker>
        </el-form-item>
        <el-form-item label="法人身份证正面照" required>
          <el-upload
            class="avatar-uploader"
            action="/conmon/Upload.do"
            :show-file-list="false"
            :on-success="IdCodeImgOneSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="idCodeImgOne" :src="idCodeImgOne" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
          <p><el-tag type="warning">上传图片只能是 JPG 或者PNG格式!</el-tag></p>
          <p><el-tag type="warning">上传图片大小不能超过 0.5MB!</el-tag></p>
        </el-form-item>
        <el-form-item label="法人身份证反面照" required>
          <el-upload
            class="avatar-uploader"
            action="/conmon/Upload.do"
            :show-file-list="false"
            :on-success="IdCodeImgTwoSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="idCodeImgTwo" :src="idCodeImgTwo" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
          <p><el-tag type="warning">上传图片只能是 JPG 或者PNG格式!</el-tag></p>
          <p><el-tag type="warning">上传图片大小不能超过 0.5MB!</el-tag></p>
        </el-form-item>
        <el-form-item label="院长信息" required>
          <el-col :span="8">
            <el-form-item prop="leaderName">
              <el-input v-model="addform.leaderName" placeholder="请输入院长名字" class="handle-input"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item prop="leaderIdCode">
              <el-input v-model="addform.leaderIdCode" placeholder="请输入院长身份证号" class="handle-input"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item prop="leaderPhone">
              <el-input v-model="addform.leaderPhone" placeholder="请输入院长手机号" class="handle-input"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item label="联系人" required>
          <el-col :span="8">
            <el-form-item prop="contactsName">
              <el-input v-model="addform.contactsName" placeholder="请输入联系人" class="handle-input"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item prop="contactsIdCode">
              <el-input v-model="addform.contactsIdCode" placeholder="请输入联系人身份证" class="handle-input"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item prop="contactsPhone">
              <el-input v-model="addform.contactsPhone" placeholder="请输入联系人手机号" class="handle-input"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item label="学校介绍图片">
          <el-upload
            class="avatar-uploader"
            action="/conmon/Upload.do"
            :show-file-list="false"
            :on-success="IntroduceImgSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="introduceImg" :src="introduceImg" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
          <p><el-tag type="warning">上传图片只能是 JPG 或者PNG格式!</el-tag></p>
          <p><el-tag type="warning">上传图片大小不能超过 0.5MB!</el-tag></p>
        </el-form-item>
        <el-form-item label="学校简介" prop="introduceDetail">
          <el-input
            type="textarea"
            :rows="2"
            placeholder="请输入学校简介"
            v-model="addform.introduceDetail" resize="none">
          </el-input>
        </el-form-item>
        <el-form-item label="超管手机号" prop="adminPhone">
          <el-input v-model="addform.adminPhone" placeholder="请输入超管手机号" class="handle-input"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveAdd('addform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 编辑学校 -->
    <el-dialog title="编辑" :visible.sync="editVisible" width="60%" @close="closeDialog('editform')">
      <el-form ref="editform" :model="editform" label-width="100px" :rules="rules">
        <el-form-item label="学校名称" prop="name" required>
          <el-input v-model="editform.name" placeholder="请输入学校名称" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="学校照片" required>
          <el-upload
            class="avatar-uploader"
            action="/conmon/Upload.do"
            :show-file-list="false"
            :on-success="ImgSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="img" :src="img" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
          <p><el-tag type="warning">上传图片只能是 JPG 或者PNG格式!</el-tag></p>
          <p><el-tag type="warning">上传图片大小不能超过 0.5MB!</el-tag></p>
        </el-form-item>
        <el-form-item label="学校地址" required>
          <el-col :span="8">
            <el-form-item prop="province">
              <el-select v-model="province" filterable placeholder="请选择省" @change="editSelectProvince">
                <el-option
                  v-for="item in provinces"
                  :key="item.index"
                  :label="item.areaName"
                  :value="item.areaId">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item prop="city">
              <el-select v-model="city" filterable placeholder="请选择市" @change="editSelectCity">
                <el-option
                  v-for="item in citys"
                  :key="item.index"
                  :label="item.areaName"
                  :value="item.areaId">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item prop="areaId">
              <el-select v-model="areaId" filterable placeholder="请选择区">
                <el-option
                  v-for="item in areas"
                  :key="item.index"
                  :label="item.areaName"
                  :value="item.areaId">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item label="详情地址" prop="addressDetail" required>
          <el-input
            type="textarea"
            :rows="2"
            resize="none"
            placeholder="请输入详情地址"
            v-model="editform.addressDetail">
          </el-input>
        </el-form-item>
        <el-form-item label="上级公司" prop="parentId">
          <el-select v-model="editform.parentId" filterable clearable placeholder="请选择上级公司">
            <el-option
              v-for="item in companys"
              :key="item.index"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="营业执照" required>
          <el-upload
            class="avatar-uploader"
            action="/conmon/Upload.do"
            :show-file-list="false"
            :on-success="LicenceImgSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="licenceImg" :src="licenceImg" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
          <p><el-tag type="warning">上传图片只能是 JPG 或者PNG格式!</el-tag></p>
          <p><el-tag type="warning">上传图片大小不能超过 0.5MB!</el-tag></p>
        </el-form-item>
        <el-form-item label="营业执照编号" prop="licenceCode" required>
          <el-input v-model="editform.licenceCode" placeholder="请输入营业执照编号" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item  label="学校成立时间" prop="companyCreateTime" required>
            <el-date-picker
              class="handle-input"
              v-model="editform.companyCreateTime"
              type="date"
              value-format="yyyy-MM-dd"
              placeholder="学校成立时间"
            ></el-date-picker>
          </el-form-item>
        <el-form-item label="法人身份证正面照" required>
          <el-upload
            class="avatar-uploader"
            action="/conmon/Upload.do"
            :show-file-list="false"
            :on-success="IdCodeImgOneSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="idCodeImgOne" :src="idCodeImgOne" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
          <p><el-tag type="warning">上传图片只能是 JPG 或者PNG格式!</el-tag></p>
          <p><el-tag type="warning">上传图片大小不能超过 0.5MB!</el-tag></p>
        </el-form-item>
        <el-form-item label="法人身份证反面照" required>
          <el-upload
            class="avatar-uploader"
            action="/conmon/Upload.do"
            :show-file-list="false"
            :on-success="IdCodeImgTwoSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="idCodeImgTwo" :src="idCodeImgTwo" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
          <p><el-tag type="warning">上传图片只能是 JPG 或者PNG格式!</el-tag></p>
          <p><el-tag type="warning">上传图片大小不能超过 0.5MB!</el-tag></p>
        </el-form-item>
        <el-form-item label="院长信息" required>
          <el-col :span="8">
            <el-form-item prop="leaderName">
              <el-input v-model="editform.leaderName" placeholder="请输入院长名字" class="handle-input"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item prop="leaderIdCode">
              <el-input v-model="editform.leaderIdCode" placeholder="请输入院长身份证号" class="handle-input"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item prop="leaderPhone">
              <el-input v-model="editform.leaderPhone" placeholder="请输入院长手机号" class="handle-input"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item label="联系人" required>
          <el-col :span="8">
            <el-form-item prop="contactsName">
              <el-input v-model="editform.contactsName" placeholder="请输入联系人" class="handle-input"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item prop="contactsIdCode">
              <el-input v-model="editform.contactsIdCode" placeholder="请输入联系人身份证" class="handle-input"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item prop="contactsPhone">
              <el-input v-model="editform.contactsPhone" placeholder="请输入联系人手机号" class="handle-input"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item label="学校介绍图片">
          <el-upload
            class="avatar-uploader"
            action="/conmon/Upload.do"
            :show-file-list="false"
            :on-success="IntroduceImgSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="introduceImg" :src="introduceImg" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
          <p><el-tag type="warning">上传图片只能是 JPG 或者PNG格式!</el-tag></p>
          <p><el-tag type="warning">上传图片大小不能超过 0.5MB!</el-tag></p>
        </el-form-item>
        <el-form-item label="学校简介" prop="introduceDetail">
          <el-input
            type="textarea"
            :rows="2"
            placeholder="请输入学校简介"
            v-model="editform.introduceDetail" resize="none">
          </el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit('editform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 查看学校信息 -->
    <el-dialog
      title="查看学校信息"
      :visible.sync="catVisible"
      width="60%"
    >
        <el-form label-width="100px" >
        <el-form-item label="学校名称">
          <el-input v-model="companyInfo.name" :disabled="true"  class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="学校照片">
          <img :src="companyInfo.img" class="avatar">
        </el-form-item>
        <el-form-item label="学校地址" prop="name">
          <el-input
            type="textarea"
            :rows="2"
            resize="none"
            :disabled="true"
            placeholder="请输入详情地址"
            v-model="schoolAdr">
          </el-input>
        </el-form-item>
        <!-- <el-form-item label="上级公司" prop="name">
          <el-input v-model="companyInfo.name" :disabled="true"  class="handle-input"></el-input>
        </el-form-item> -->
        <el-form-item label="营业执照">
          <img :src="companyInfo.licenceImg" :disabled="true" class="avatar">
        </el-form-item>
        <el-form-item label="营业执照编号">
          <el-input v-model="companyInfo.licenceCode":disabled="true" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="学校成立时间">
          <el-input v-model="companyInfo.companyCreateTime" :disabled="true" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="法人身份证正反面照">
          <img :src="companyInfo.idCodeImgOne" class="avatar">
          <img :src="companyInfo.idCodeImgTwo" class="avatar">
        </el-form-item>
        <el-form-item label="院长信息">
          <el-col :span="8">
            <el-form-item>
              <el-input v-model="companyInfo.leaderName" :disabled="true" class="handle-input"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item>
              <el-input v-model="companyInfo.leaderIdCode" :disabled="true" class="handle-input"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item>
              <el-input v-model="companyInfo.leaderPhone" :disabled="true" class="handle-input"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item label="联系人">
          <el-col :span="8">
            <el-form-item>
              <el-input v-model="companyInfo.contactsName" :disabled="true" class="handle-input"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item >
              <el-input v-model="companyInfo.contactsIdCode" :disabled="true" class="handle-input"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item>
              <el-input v-model="companyInfo.contactsPhone" :disabled="true" class="handle-input"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item label="学校介绍图片">
          <img :src="companyInfo.introduceImg" class="avatar">
        </el-form-item>
        <el-form-item label="学校简介">
          <el-input
            type="textarea"
            :rows="2"
            :disabled="true"
            placeholder="请输入学校简介"
            v-model="companyInfo.introduceDetail" resize="none">
          </el-input>
        </el-form-item>
      </el-form>
    </el-dialog>
     <el-dialog
      title="查看设备"
      :visible.sync="catXlhVisible"
      width="60%"
      @close="closeDialog('searchXlhform')"
    >
      <div class="table">
        <div class="crumbs">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>筛选查询
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="container table-search">
          <div class="handle-box-search">
            <el-form :model="searchXlhform" ref="searchXlhform" class="search-form" :inline="true">
              <el-form-item label="SN码" prop="sequenceNumber">
                <el-input
                  v-model="searchXlhform.sequenceNumber"
                  placeholder="请输入SN码"
                  class="handle-input"
                ></el-input>
              </el-form-item>
              <el-button type="primary" @click="searchXlh">查询</el-button>
              <el-button type="primary" @click="searchXlhReset('searchXlhform')">重置</el-button>
            </el-form>
          </div>
        </div>
        <div class="crumbs">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-lx-cascades crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="container">
          <div class="handle-box">
            <el-select
              v-model="limitXlh"
              placeholder="显示条数"
              class="handle-select"
              @change="changeLimitXlh"
            >
              <el-option key="1" label="每页10条" value="10"></el-option>
              <el-option key="2" label="每页20条" value="20"></el-option>
              <el-option key="3" label="每页30条" value="30"></el-option>
            </el-select>
          </div>
          <el-table :data="tableDataXlh" border height="245" class="table">
            <el-table-column prop="id" label="ID" width="100"></el-table-column>
            <el-table-column prop="name" label="型号" width="150"></el-table-column>
            <el-table-column prop="sequenceNumber" label="SN码" min-width="200"></el-table-column>
            <el-table-column prop="status" label="设备状态" width="100">
              <template slot-scope="scope">{{ scope.row.status === 0 ? '故障':'正常'}}</template>
            </el-table-column>
            <el-table-column prop="createTime" label="激活时间" width="200"></el-table-column>
          </el-table>
          <div class="pagination">
            <el-pagination
              background
              @current-change="handleCurrentChangeXlh"
              layout="prev, pager, next"
              :total="totalXlh"
              :page-size="pageLimitXlh"
              :current-page.sync="pageXlh"
            ></el-pagination>
          </div>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    let regIdk = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
    let validateIdk = (rule, value, callback) => {
      if (!regIdk.test(value)) {
        callback(new Error('身份证号不合法'));
      } else {
        callback();
      }
    };
    let regPhone = /^1\d{10}$/;
    let validatePhone = (rule, value, callback) => {
      if (!regPhone.test(value)) {
        callback(new Error('手机号码不合法'));
      } else {
        callback();
      }
    };
    return {
      companys: [],
      provinces: [],
      citys: [],
      areas: [],
      tableData: [],
      total: 1,
      page: 1,
      limit: "10",
      searchform: {
        name: ""
      },
      searchformEnd: {
        name: ""
      },
      img: '',
      licenceImg: '',
      idCodeImgOne: '',
      idCodeImgTwo: '',
      introduceImg: '',
      addVisible: false,
      province: 1,
      city: 2,
      areaId: 3,
      rowId: 0,
      addform: {
        name: "",
        img: "",
        addressDetail: "",
        parentId: "",
        licenceCode: "",
        companyCreateTime: "",
        leaderName: "",
        leaderIdCode: "",
        leaderPhone: "",
        contactsName: "",
        contactsIdCode: "",
        contactsPhone: "",
        introduceDetail: "",
        adminPhone: ""
      },
      editVisible: false,
      editform: {
        name: "",
        addressDetail: "",
        parentId: "",
        licenceCode: "",
        companyCreateTime: "",
        leaderName: "",
        leaderIdCode: "",
        leaderPhone: "",
        contactsName: "",
        contactsIdCode: "",
        contactsPhone: "",
        introduceDetail: ""
      },
      rules: {
        name: [{ required: true, message: "学校名称不能为空", trigger: "blur" }],
        addressDetail: [{ required: true, message: "详细地址不能为空", trigger: "blur" }],
        parentId: [{ required: true, message: "上级公司不能为空", trigger: "change" }],
        companyCreateTime: [{ required: true, message: "学校成立时间不能为空", trigger: "change" }],
        licenceCode: [{ required: true, message: "营业执照编号不能为空", trigger: "blur" }],
        leaderName: [{ required: true, message: "院长名字不能为空", trigger: "blur" }],
        leaderIdCode: [{ validator: validateIdk, required: true,  trigger: "blur" }],
        leaderPhone: [{ validator: validatePhone, required: true,  trigger: "blur" }],
        contactsName: [{ required: true, message: "联系人名字不能为空", trigger: "blur" }],
        contactsIdCode: [{ validator: validateIdk, required: true,  trigger: "blur" }],
        contactsPhone: [{ validator: validatePhone, required: true,  trigger: "blur" }],
        introduceDetail: [{ required: true, message: "学校简介不能为空", trigger: "blur" }],
        adminPhone: [{ required: true, message: "超管号码不能为空", trigger: "blur" }]
      },
      catVisible: false,
      companyInfo: {},
      catXlhVisible: false,
      tableDataXlh: [],
      totalXlh: 1,
      pageXlh: 1,
      limitXlh: "10",
      searchXlhform: {
        sequenceNumber: ""
      },
      searchXlhformEnd: {
        sequenceNumber: ""
      },
    };
  },
  computed: {
    ...mapGetters(["adminId", "companyId"]),
    pageLimit() {
      return parseInt(this.limit);
    },
    pageLimitXlh() {
      return parseInt(this.limitXlh);
    },
    schoolAdr () {
      return this.companyInfo.provinceName + this.companyInfo.cityName + this.companyInfo.areaName + this.companyInfo.addressDetail
    }
  },
  created() {
    if (this.adminId) {
      this.submitData();
      this.companyList();
      this.provinceList();
    }
  },
  methods: {
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.submitData();
    },
    changeLimit() {
      //改变页数
      this.page = 1;
      this.submitData();
    },
    search() {
      //查询
      this.page = 1;
      this.searchformEnd = this.searchform
      this.submitData();
    },
    searchReset (formName) {
      this.$refs[formName].resetFields();
      this.searchformEnd = this.searchform;
    },
    submitData() {
      this.axios
        .post("/company/SelectAll.do", {
          page: this.page,
          limit: this.limit,
          name: this.searchformEnd.name,
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.code) === 0) {
            this.tableData = result_data.data;
            this.total = result_data.count;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleAdd() {
      this.addVisible = true;
      this.cityList();
    },
    saveAdd(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          let regPhone = /^1\d{10}$/;
          if (!regPhone.test(this.addform.adminPhone)) {
            this.$message({
              message: '超级管理员手机号码不合法',
              type: "warning",
              duration: 1000
            });
            return false
          }
          if (this.img === '') {
            this.$message({
              message: '学校照片不能为空',
              type: "warning",
              duration: 1000
            });
            return false
          }
          if (this.licenceImg === '') {
            this.$message({
              message: '营业执照不能为空',
              type: "warning",
              duration: 1000
            });
            return false
          }
          if (this.idCodeImgOne === '') {
            this.$message({
              message: '法人身份证正面照片不能为空',
              type: "warning",
              duration: 1000
            });
            return false
          }
          if (this.idCodeImgTwo === '') {
            this.$message({
              message: '法人身份证反面照片不能为空',
              type: "warning",
              duration: 1000
            });
            return false
          }
          if (this.introduceImg === '') {
            this.$message({
              message: '学校介绍图不能为空',
              type: "warning",
              duration: 1000
            });
            return false
          }
          let areaId = 0;
          if (this.areaId) {
            areaId = this.areaId
          } else if (this.city){
            areaId = this.city
          } else {
            areaId = this.province
          }
          this.axios
            .post("/company/Insert.do", {
              name: this.addform.name,
              areaId: areaId,
              addressDetail: this.addform.addressDetail,
              parentId: this.addform.parentId,
              licenceCode: this.addform.licenceCode,
              companyCreateTimeSt: this.addform.companyCreateTime,
              leaderName: this.addform.leaderName,
              leaderIdCode: this.addform.leaderIdCode,
              leaderPhone: this.addform.leaderPhone,
              contactsName: this.addform.contactsName,
              contactsIdCode: this.addform.contactsIdCode,
              contactsPhone: this.addform.contactsPhone,
              introduceDetail: this.addform.introduceDetail,
              adminPhone: this.addform.adminPhone,
              img: this.img,
              licenceImg: this.licenceImg,
              idCodeImgOne: this.idCodeImgOne,
              idCodeImgTwo: this.idCodeImgTwo,
              introduceImg: this.introduceImg,
              adminId: this.adminId
            })
            .then(response => {
              let result_data = response.data;
              if (parseInt(result_data.status) === 1) {
                this.$message({
                  message: result_data.msg,
                  type: "success",
                  duration: 1000
                });
                setTimeout(() => {
                  this.submitData();
                }, 50);
                this.addVisible = false;
              } else {
                this.$message({
                  message: result_data.msg,
                  type: "error",
                  duration: 1000
                });
              }
            })
            .catch(error => {
              this.$message({
                message: error.message,
                type: "error",
                duration: 1000
              });
            });
        }
      });
    },
    handleEdit(index, row) {
      //编辑
      let cityId = row.cityId;
      let areaId = row.areaId;
      this.province = row.provinceId;
      this.cityListEdit(cityId, areaId);
      this.rowId = row.id;
      this.editform.name = row.name;
      this.editform.parentId = row.parentId;
      this.editform.licenceCode = row.licenceCode;
      this.editform.companyCreateTime = row.companyCreateTime;
      this.editform.leaderName = row.leaderName;
      this.editform.leaderIdCode = row.leaderIdCode;
      this.editform.leaderPhone = row.leaderPhone;
      this.editform.contactsName = row.contactsName;
      this.editform.contactsIdCode = row.contactsIdCode;
      this.editform.contactsPhone = row.contactsPhone;
      this.editform.introduceDetail = row.introduceDetail;
      this.editform.addressDetail = row.addressDetail;
      this.img = row.img;
      this.licenceImg = row.licenceImg;
      this.idCodeImgOne = row.idCodeImgOne;
      this.idCodeImgTwo = row.idCodeImgTwo;
      this.introduceImg = row.introduceImg;
      this.editVisible = true;
    },
    saveEdit(formName) {
      // 保存编辑
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.img === '') {
            this.$message({
              message: '学校照片不能为空',
              type: "warning",
              duration: 1000
            });
            return false
          }
          if (this.licenceImg === '') {
            this.$message({
              message: '营业执照不能为空',
              type: "warning",
              duration: 1000
            });
            return false
          }
          if (this.idCodeImgOne === '') {
            this.$message({
              message: '法人身份证正面照片不能为空',
              type: "warning",
              duration: 1000
            });
            return false
          }
          if (this.idCodeImgTwo === '') {
            this.$message({
              message: '法人身份证反面照片不能为空',
              type: "warning",
              duration: 1000
            });
            return false
          }
          if (this.introduceImg === '') {
            this.$message({
              message: '学校介绍图不能为空',
              type: "warning",
              duration: 1000
            });
            return false
          }
          let areaId = 0;
          if (this.areaId) {
            areaId = this.areaId
          } else if (this.city){
            areaId = this.city
          } else {
            areaId = this.province
          }
          this.axios
            .post("/company/Update.do", {
              id: this.rowId,
              name: this.editform.name,
              areaId: areaId,
              addressDetail: this.editform.addressDetail,
              parentId: this.editform.parentId,
              licenceCode: this.editform.licenceCode,
              companyCreateTimeSt: this.editform.companyCreateTime,
              leaderName: this.editform.leaderName,
              leaderIdCode: this.editform.leaderIdCode,
              leaderPhone: this.editform.leaderPhone,
              contactsName: this.editform.contactsName,
              contactsIdCode: this.editform.contactsIdCode,
              contactsPhone: this.editform.contactsPhone,
              introduceDetail: this.editform.introduceDetail,
              img: this.img,
              licenceImg: this.licenceImg,
              idCodeImgOne: this.idCodeImgOne,
              idCodeImgTwo: this.idCodeImgTwo,
              introduceImg: this.introduceImg,
              adminId: this.adminId
            })
            .then(response => {
              let result_data = response.data;
              if (parseInt(result_data.status) === 1) {
                this.$message({
                  message: result_data.msg,
                  type: "success",
                  duration: 1000
                });
                setTimeout(() => {
                  this.submitData();
                }, 50);
                this.editVisible = false;
              } else {
                this.$message({
                  message: result_data.msg,
                  type: "error",
                  duration: 1000
                });
              }
            })
            .catch(error => {
              this.$message({
                message: error.message,
                type: "error",
                duration: 1000
              });
            });
        }
      });
    },
    closeDialog(formName) {
      this.$refs[formName].resetFields();
      this.img = "";
      this.licenceImg = "";
      this.idCodeImgOne = "";
      this.idCodeImgTwo = "";
      this.introduceImg = "";
      this.province = 1;
      this.city = 2;
      this.areaId = 3;
      this.searchXlhformEnd = this.searchXlhform;
    },
    selectProvince () {
      this.cityList();
    },
    selectCity () {
      this.areasList()
    },
    provinceList() {
      //省列表
      this.axios
        .post("/areas/SelectAllOne.do", {})
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.provinces = result_data.data;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    cityList() {
      //市列表
      this.axios
      .post("/areas/SelectByParentId.do", {
        parentId: this.province
      })
      .then(response => {
        let result_data = response.data;
        if (parseInt(result_data.status) === 1) {
          let result = result_data.data;
          this.citys = result;
          if (result.length > 0) {
            this.city = this.citys[0].areaId;
            if (this.citys[0].level === 2) {
              this.areasList()
            } else {
              this.areas = []
              this.areaId = "";
            }
          } else {
            this.areas = []
            this.city = "";
            this.areaId = "";
          }
        } else {
          this.$message({
            message: result_data.msg,
            type: "error",
            duration: 1000
          });
        }
      })
      .catch(error => {
        this.$message({
          message: error.message,
          type: "error",
          duration: 1000
        });
      });
    },
    areasList() {
      //区列表
      this.axios
        .post("/areas/SelectByParentId.do", {
          parentId: this.city
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            let result = result_data.data;
            this.areas = result;
            if (result.length > 0) {
              this.areaId = result[0].areaId
            } else {
              this.areaId = ''
            }
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    cityListEdit(city, areaId) {
      //市列表
      this.axios
      .post("/areas/SelectByParentId.do", {
        parentId: this.province
      })
      .then(response => {
        let result_data = response.data;
        if (parseInt(result_data.status) === 1) {
          let result = result_data.data;
          this.citys = result;
          if (result.length > 0) {
            this.city = city;
            if (this.citys[0].level === 2) {
              this.areasListEdit(city, areaId)
            } else {
              this.areas = []
              this.areaId = "";
            }
          } else {
            this.areas = []
            this.city = "";
            this.areaId = "";
          }
        } else {
          this.$message({
            message: result_data.msg,
            type: "error",
            duration: 1000
          });
        }
      })
      .catch(error => {
        this.$message({
          message: error.message,
          type: "error",
          duration: 1000
        });
      });
    },
    areasListEdit(city, areaId) {
      //区列表
      this.axios
        .post("/areas/SelectByParentId.do", {
          parentId: city
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            let result = result_data.data;
            this.areas = result;
            if (result.length > 0) {
              this.areaId = areaId
            } else {
              this.areaId = ''
            }
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    editSelectProvince () {
      this.cityList();
    },
    editSelectCity () {
      this.areasList()
    },   
    companyList() {
      //公司列表
      this.axios
        .post("/company/SelectAllTree.do", {
          adminId: this.adminId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.companys = result_data.data;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    ImgSuccess(response, file, fileList) {
      let result_data = response;
      if (parseInt(result_data.status) === 1) {
        this.img = result_data.path;
        this.$message({
          message: result_data.msg,
          type: "success",
          duration: 1000
        });
      } else {
        this.$message({
          message: result_data.msg,
          type: "error",
          duration: 1000
        });
      }
    },
    LicenceImgSuccess(response, file, fileList) {
      let result_data = response;
      if (parseInt(result_data.status) === 1) {
        this.licenceImg = result_data.path;
        this.$message({
          message: result_data.msg,
          type: "success",
          duration: 1000
        });
      } else {
        this.$message({
          message: result_data.msg,
          type: "error",
          duration: 1000
        });
      }
    },
    IdCodeImgOneSuccess(response, file, fileList) {
      let result_data = response;
      if (parseInt(result_data.status) === 1) {
        this.idCodeImgOne = result_data.path;
        this.$message({
          message: result_data.msg,
          type: "success",
          duration: 1000
        });
      } else {
        this.$message({
          message: result_data.msg,
          type: "error",
          duration: 1000
        });
      }
    },
    IdCodeImgTwoSuccess(response, file, fileList) {
      let result_data = response;
      if (parseInt(result_data.status) === 1) {
        this.idCodeImgTwo = result_data.path;
        this.$message({
          message: result_data.msg,
          type: "success",
          duration: 1000
        });
      } else {
        this.$message({
          message: result_data.msg,
          type: "error",
          duration: 1000
        });
      }
    },
    IntroduceImgSuccess(response, file, fileList) {
      let result_data = response;
      if (parseInt(result_data.status) === 1) {
        this.introduceImg = result_data.path;
        this.$message({
          message: result_data.msg,
          type: "success",
          duration: 1000
        });
      } else {
        this.$message({
          message: result_data.msg,
          type: "error",
          duration: 1000
        });
      }
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg" || "image/png";
      if (!isJPG) {
        this.$message.error("上传头像图片只能是 JPG 或者PNG格式!");
      }
      return isJPG;
    },
    handleCat (index, row) {
      this.axios
        .post("/company/SelectById.do", {
          id: row.id
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.companyInfo = result_data.data;
            this.catVisible =  true;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleExport (index, row) {
      window.location.href = "/company/DownLoadSnDetail.do?id=" + row.id + '&_time=' + (new Date()).getTime();
    },
    handleXlhCat(index, row) {
      //查看设备
      this.rowId = row.id;
      this.submitDataXlh();
    },
    // 分页导航
    handleCurrentChangeXlh(val) {
      this.pageXlh = val;
      this.submitDataXlh();
    },
    changeLimitXlh() {
      //改变页数
      this.pageXlh = 1;
      this.submitDataXlh();
    },
    searchXlh() {
      //查询
      this.pageXlh = 1;
      this.searchXlhformEnd = this.searchXlhform;
      this.submitDataXlh();
    },
    searchXlhReset (formName) {
      this.$refs[formName].resetFields();
      this.searchXlhformEnd = this.searchXlhform;
    },
    submitDataXlh () {
      this.axios
        .post("/company/SelectSnDetail.do", {
          id: this.rowId,
          page: this.pageXlh,
          limit: this.limitXlh,
          sequenceNumber: this.searchXlhformEnd.sequenceNumber
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.code) === 0) {
            this.tableDataXlh = result_data.data;
            this.totalXlh = result_data.count;
            this.catXlhVisible =  true;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    }
  }
};
</script>

<style scoped>
.handle-box {
  margin-bottom: 20px;
}

.handle-select {
  width: 120px;
}

.handle-input {
  width: 200px;
  display: inline-block;
}
.del-dialog-cnt {
  font-size: 16px;
  text-align: center;
}
.table {
  width: 100%;
  font-size: 14px;
}
.red {
  color: #ff0000;
}
.crumbs-i-right {
  margin-right: 10px;
}
.table-search {
  padding: 30px 30px 10px;
}
.container-table {
  min-height: 440px;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 360px;
  height: 180px;
  line-height: 180px;
  text-align: center;
}
.avatar {
  width: 360px;
  height: 180px;
  display: block;
}
</style>
