<template>
  <div class="table">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-lx-cascades crumbs-i-right"></i>欢迎页列表
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container container-table">
      <div class="handle-box">
        <el-button type="primary" icon="search" @click="handleAdd">添加欢迎页</el-button>
      </div>
      <el-table
        :data="tableData"
        border
      >
        <el-table-column prop="id" label="ID"  width="100"></el-table-column>
        <el-table-column prop="title" label="欢迎页名称" width="200"></el-table-column>
        <el-table-column prop="createByName" label="创建人" width="120"></el-table-column>
        <el-table-column prop="createTime" label="生成时间" sortable min-width="200"></el-table-column>
        <el-table-column label="操作" width="200" align="center">
          <template slot-scope="scope">
            <el-button
              type="text"
              icon="el-icon-search"
              @click="handleCat(scope.$index, scope.row)"
            >预览</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="pagination">
        <el-pagination
          background
          @current-change="handleCurrentChange"
          layout="prev, pager, next"
          :total="total"
          :pageSize="limitPage"
          :current-page.sync="page"
        ></el-pagination>
      </div>
    </div>
    <!-- 添加活动 -->
    <el-dialog title="添加" :visible.sync="addVisible" width="50%" @close="closeDialog('addform')">
      <el-form ref="addform" :model="addform" label-width="100px" :rules="rules">
        <el-form-item label="欢迎页名称" prop="name">
          <el-input type="textarea" :rows="2" resize="none" v-model="addform.name" placeholder="请输入欢迎页名称" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="欢迎页链接" prop="linkUrl">
          <el-input type="textarea" :rows="2" resize="none" v-model="addform.linkUrl" placeholder="请输入欢迎页链接" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="欢迎页内容">
          <quill-editor 
            ref="myTextEditor" 
            v-model="content" 
            :options="editorOption"
            @change="onEditorChange($event)"
          ></quill-editor>
          <p><el-tag type="warning">上传图片只能是 JPG 或者PNG格式!</el-tag></p>
          <p><el-tag type="warning">上传图片大小不能超过 0.5MB!</el-tag></p>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveAdd('addform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 预览 -->
    <el-dialog title="预览" :visible.sync="catVisible" width="415px" @close="closeCatDialog">
      <div style="height:375px;overflow-y:auto;" v-html="content"></div>
    </el-dialog>
  </div>
</template>

<script>
import moment from "moment";
import { mapGetters } from "vuex";
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
import { quillEditor } from 'vue-quill-editor'
import quillConfig from '../../assets/js/quill-config.js'

export default {
  data() {
    return {
      tableData: [],
      total: 1,
      page: 1,
      limit: "10",
      addVisible: false,
      addform: {
        name: "",
        linkUrl: ""
      },
      rules: {
        name: [{ required: true, message: "欢迎页名称不能为空", trigger: "blur" }],
      },
      delVisible: false,
      rowId: 0,
      content: '',
      editorOption: quillConfig,
      catVisible: false
    };
  },
  computed: {
    ...mapGetters([
      'adminId'
    ]),
    limitPage() {
      return parseInt(this.limit);
    }
  },
  created() {
    if (this.adminId) {
      this.submitData();
    }
  },
  methods: {
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.submitData();
    },
    submitData() {
      this.axios
        .post("/advertising/AdminGetMyAdvertising.do", {
          
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.code) === 0) {
            this.tableData = result_data.data;
            this.total = result_data.count;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    onEditorChange({ editor, html, text }) {
      this.content = html;
    },
    handleAdd() {
      this.addVisible = true;
    },
    saveAdd(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.axios
            .post("/advertising/AddHome.do", {
              title: this.addform.name,
              linkUrl: this.addform.linkUrl,
              introduction: this.content,
              createBy: this.adminId
            })
            .then(response => {
              let result_data = response.data;
              if (parseInt(result_data.status) === 1) {
                this.$message({
                  message: result_data.msg,
                  type: "success",
                  duration: 1000
                });
                setTimeout(() => {
                  this.submitData();
                }, 50);
                this.addVisible = false;
              } else {
                this.$message({
                  message: result_data.msg,
                  type: "error",
                  duration: 1000
                });
              }
            })
            .catch(error => {
              this.$message({
                message: error.message,
                type: "error",
                duration: 1000
              });
            });
        }
      });
    },
    closeDialog (formName) {
      this.$refs[formName].resetFields();
      this.$refs[formName].clearValidate();
      this.content = "";
    },
    closeCatDialog () {
      this.content = "";
    },
    handleCat (index, row) {
      this.content = row.introduction;
      this.catVisible = true;
    },
  },
  components: {
    quillEditor
  }
};
</script>

<style scoped>
.handle-box {
  margin-bottom: 20px;
}

.handle-select {
  width: 120px;
}

.handle-input {
  width: 200px;
  display: inline-block;
}
.del-dialog-cnt {
  font-size: 16px;
  text-align: center;
}
.table {
  width: 100%;
  font-size: 14px;
}
.red {
  color: #ff0000;
}
.crumbs-i-right {
  margin-right: 10px;
}
.table-search {
  padding: 30px 30px 10px;
}
.container-table {
  min-height: 540px;
}
</style>
