<template>
  <div class="table">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-search crumbs-i-right"></i>筛选查询
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container table-search">
      <div class="handle-box-search">
        <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
          <el-form-item label="设备型号" prop="type">
            <el-select v-model="searchform.type" filterable clearable placeholder="选择设备型号" class="handle-input">
              <el-option
                :key="index"
                :label="item.name"
                :value="item.id"
                v-for="(item, index) in xlhSearchData"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="创建时间">
            <el-form-item prop="startTime">
              <el-date-picker
                v-model="searchform.startTime"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                placeholder="开始时间"
              ></el-date-picker>
            </el-form-item>
            <el-form-item prop="endTime">
              <el-date-picker
                v-model="searchform.endTime"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                placeholder="结束时间"
              ></el-date-picker>
            </el-form-item>
          </el-form-item>
          <el-button type="primary" @click="search">查询</el-button>
          <el-button type="primary" @click="searchReset('searchform')">重置</el-button>
        </el-form>
      </div>
    </div>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-lx-cascades crumbs-i-right"></i>数据列表
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container container-table">
      <div class="handle-box">
        <el-select v-model="limit" placeholder="显示条数" class="handle-select" @change="changeLimit">
          <el-option key="1" label="每页10条" value="10"></el-option>
          <el-option key="2" label="每页20条" value="20"></el-option>
          <el-option key="3" label="每页30条" value="30"></el-option>
        </el-select>
        <el-button type="primary" icon="search" @click="handleXhAdd">添加设备型号</el-button>
        <el-button type="primary" icon="search" @click="handleXlh">新增产品</el-button>
      </div>
      <el-table
        :data="tableData"
        border
        class="table"
      >
        <el-table-column prop="id" label="ID" width="100"></el-table-column>
        <el-table-column prop="modelName" label="型号" width="150"></el-table-column>
        <el-table-column prop="amount" label="数量" width="120"></el-table-column>
        <el-table-column prop="createByName" label="创建人" width="120"></el-table-column>
        <el-table-column prop="createTime" label="生成时间" sortable min-width="250"></el-table-column>
        <el-table-column prop="status" label="是否启用" width="150" align="center">
          <template slot-scope="scope">
            <el-switch
              :active-value="1"
              :inactive-value="0"
              v-model="scope.row.status"
              active-color="#13ce66"
              inactive-color="#ff4949"
              @change="changeStatus(scope.row)"
            ></el-switch>
          </template>
        </el-table-column>
        <el-table-column label="产品序列号(SN)" width="200" align="center">
          <template slot-scope="scope">
            <el-button
              type="text"
              icon="el-icon-search"
              @click="handleCat(scope.$index, scope.row)"
            >查看</el-button>
            <el-button
              type="text"
              icon="el-icon-download"
              @click="handleExport(scope.$index, scope.row)"
            >导出</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="pagination">
        <el-pagination
          background
          @current-change="handleCurrentChange"
          layout="prev, pager, next"
          :total="total"
          :pageSize="limitPage"
          :current-page.sync="page"
        ></el-pagination>
      </div>
    </div>

    <!-- 新增产品 -->
    <el-dialog
      title="新增产品"
      :visible.sync="xlhVisible"
      width="30%"
      @close="closeXlhDialog('xlhform')"
    >
      <el-form ref="xlhform" :model="xlhform" :rules="xlhrules" label-width="100px">
        <el-form-item label="设备型号" prop="type">
          <el-select v-model="xlhform.type" filterable clearable placeholder="选择设备型号" class="handle-input">
            <el-option
              :key="index"
              :label="item.name"
              :value="item.id"
              v-for="(item, index) in xlhData"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="SN码数量" prop="amount">
          <el-input v-model.number="xlhform.amount" placeholder="请输入SN码数量" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item>
          <el-tag type="warning" :disable-transitions= "true">提示：生成SN码数量每次不能超过99999</el-tag>
        </el-form-item>
        <el-form-item label="是否启用" prop="status" required>
          <el-radio v-model="xlhform.status" :label="1">是</el-radio>
          <el-radio v-model="xlhform.status" :label="0">否</el-radio>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="xlhVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveXlh('xlhform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 设备型号 -->
    <el-dialog title="添加设备型号" :visible.sync="addXhVisible" width="30%" center>
      <p>
        <el-tag type="danger" :disable-transitions= "true">设备型号命名规则：6位字符串</el-tag>
      </p>
      <p>
        <el-tag type="warning" :disable-transitions= "true">如:（门禁=首字母大写＋四位流水码）MJ0001</el-tag>
      </p>
      <p>
        <el-tag type="warning" :disable-transitions= "true">（防盗门=首字母大写＋三位流水码）FDM001</el-tag>
      </p>
      <p>
        <el-tag type="warning" :disable-transitions= "true">（自助终端=首字母大写＋两位位流水码）ZZZD01</el-tag>
      </p>
      <el-tag
        v-for="(tag, index) in dynamicTags"
        :key="index"
        type="success"
        closable
        :disable-transitions= "true"
        @close="handleClose(tag)"
      >{{tag.name}}</el-tag>
      <el-input
        class="input-new-tag"
        v-if="inputVisible"
        v-model="inputValue"
        ref="saveTagInput"
        size="small"
        @keyup.enter.native="handleInputConfirm"
        @blur="handleInputConfirm"
      ></el-input>
      <el-button v-else class="button-new-tag" size="small" @click="showInput">
        <i class="el-icon-circle-plus-outline"></i>添加设备型号
      </el-button>
    </el-dialog>
    <!-- 查看产品序列号 -->
    <el-dialog title="查看产品序列号" :visible.sync="catVisible" width="60%" top="1hv" @close="colseCatXlh('searchXlhform')">
      <div class="table">
        <div class="crumbs">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>筛选查询
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="container table-search">
          <div class="handle-box-search">
            <el-form :model="searchXlhform" ref="searchXlhform" class="search-form" :inline="true">
              <el-form-item label="SN码" prop="sequenceNumber">
                <el-input v-model="searchXlhform.sequenceNumber" placeholder="请输入SN码" class="handle-input"></el-input>
              </el-form-item>
              <el-button type="primary" @click="searchXlh">查询</el-button>
              <el-button type="primary" @click="searchXlhReset('searchXlhform')">重置</el-button>
            </el-form>
          </div>
        </div>
        <div class="crumbs">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-lx-cascades crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="container">
          <div class="handle-box">
            <el-select
              v-model="limitXlh"
              placeholder="显示条数"
              class="handle-select"
              @change="changeLimitXlh"
            >
              <el-option key="1" label="每页10条" value="10"></el-option>
              <el-option key="2" label="每页20条" value="20"></el-option>
              <el-option key="3" label="每页30条" value="30"></el-option>
            </el-select>
          </div>
          <el-table
            :data="tableDataXlh"
            border
            height="245"
            class="table"
          >
            <el-table-column prop="id" label="ID" width="80"></el-table-column>
            <el-table-column prop="sequenceNumber" label="SN码" min-width="200"></el-table-column>
            <el-table-column prop="name" label="型号" width="120"></el-table-column>
            <el-table-column prop="status" label="是否绑定" width="100">
              <template slot-scope="scope">
                {{ scope.row.status === 0 ? '未绑定':'绑定'}}
              </template>
            </el-table-column>
            <el-table-column prop="companyName" label="绑定公司" width="200"></el-table-column>
          </el-table>
          <div class="pagination">
            <el-pagination
              background
              @current-change="handleCurrentChangeXlh"
              layout="prev, pager, next"
              :total="totalXlh"
              :pageSize="limitPageXlh"
              :current-page.sync="pageXlh"
            ></el-pagination>
          </div>
        </div>
      </div>
    </el-dialog>
    <!-- 删除提示框 -->
    <el-dialog title="提示" :visible.sync="delXhVisible" width="30%" center>
      <div class="del-dialog-cnt">删除不可恢复，是否确定删除？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delXhVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteXhRow">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import moment from "moment";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      tableData: [],
      total: 1,
      page: 1,
      limit: "10",
      tableDataXlh: [],
      totalXlh: 1,
      pageXlh: 1,
      limitXlh: "10",
      searchXlhform: {
        sequenceNumber: ""
      },
      searchXlhformEnd: {
        sequenceNumber: ""
      },
      searchform: {
        type: "",
        startTime: "",
        endTime: ""
      },
      searchformEnd: {
        type: "",
        startTime: "",
        endTime: ""
      },
      rowId: 0,
      editVisible: false,
      addXhVisible: false,
      xlhform: {
        amount: "",
        type: "",
        status: 1
      },
      xlhrules: {
        amount: [
          { required: true, message: '数量不能为空'},
          { type: 'number', message: '数量必须为数字值'}
        ],
        type: [{ required: true, message: "选择设备型号", trigger: "change" }]
      },
      xlhVisible: false,
      xlhData: [],
      catVisible: false,
      dynamicTags: [],
      inputVisible: false,
      inputValue: "",
      delXhVisible: false,
      tagId: 0,
      xlhSearchData: [],
      productId: 0
    };
  },
  computed: {
    ...mapGetters(["adminId"]),
    limitPage () {
      return parseInt(this.limit)
    },
    limitPageXlh () {
      return parseInt(this.limitXlh)
    },
  },
  created() {
    if (this.adminId) {
      this.submitData();
      this.xhList();
    }
  },
  methods: {
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.submitData();
    },
    changeLimit() {
      //改变页数
      this.page = 1;
      this.submitData();
    },
    search() {
      //查询
      if (this.searchform.endTime &&  this.searchform.startTime) {
        let start = Date.parse(new Date(this.searchform.startTime));
        let end = Date.parse(new Date(this.searchform.endTime));
        if (start >= end) {
          this.$message({
            message: '结束时间必须大于开始时间',
            type: "error",
            duration: 1000
          });
          return 
        }
      }
      this.page = 1;
      this.searchformEnd = this.searchform
      this.submitData();
    },
    searchReset (formName) {
      this.$refs[formName].resetFields();
      this.searchformEnd = this.searchform;
    },
    submitData() {
      this.axios
        .post("/product/ProductList.do", {
          page: this.page,
          limit: this.limit,
          type: this.searchformEnd.type,
          startTime: this.searchformEnd.startTime,
          endTime: this.searchformEnd.endTime
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.code) === 0) {
            this.tableData = result_data.data;
            this.total = result_data.count;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleXlh() {
      //新增序列号
      this.xlhVisible = true;
    },
    saveXlh(formName) {
      //保存序列号
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.xlhform.amount > 99999) {
            this.$message.error("数量不能超过99999");
          } else if (this.xlhform.amount <= 0) {
            this.$message.error("数量不能少于1");
          } else {
            this.axios
              .post("/product/AddProductItem.do", {
                amount: this.xlhform.amount,
                status: this.xlhform.status,
                type: this.xlhform.type,
                createBy: this.adminId
              })
              .then(response => {
                let result_data = response.data;
                if (parseInt(result_data.status) === 1) {
                  this.$message({
                    message: result_data.msg,
                    type: "success",
                    duration: 1000
                  });
                  this.xlhVisible = false;
                  setTimeout(() => {
                    this.submitData();
                  }, 50);
                } else {
                  this.$message({
                    message: result_data.msg,
                    type: "error",
                    duration: 1000
                  });
                }
              })
              .catch(error => {
                this.$message({
                  message: error.message,
                  type: "error",
                  duration: 1000
                });
              });
          }
        }
      });
    },
    closeXlhDialog(formName) {
      this.$refs[formName].resetFields();
    },
    colseCatXlh (formName) {
      this.$refs[formName].resetFields();
      this.searchXlhformEnd = this.searchXlhform;
    },
    handleXhAdd() {
      //查看设备型号
      this.addXhVisible = true;
    },
    xhList() {
      //设备型号列表
      this.axios
        .post("/model/DropList.do", {
          adminId: this.adminId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) !== 0) {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          } else {
            this.dynamicTags = result_data.data;
            this.xlhSearchData = result_data.data;
            this.xlhData = result_data.data;
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    showInput() {
      this.inputVisible = true;
      this.$nextTick(_ => {
        this.$refs.saveTagInput.$refs.input.focus();
      });
    },
    handleInputConfirm() {
      let inputValue = this.inputValue;
      if (inputValue.length === 6) {
        //保存设备型号
        this.axios
          .post("/model/AddModel.do", {
            name: inputValue,
            adminId: this.adminId
          })
          .then(response => {
            let result_data = response.data;
            if (parseInt(result_data.status) === 1) {
              this.$message({
                message: result_data.msg,
                type: "success",
                duration: 1000
              });
              setTimeout(() => {
                this.xhList();
              }, 50);
            } else {
              this.$message({
                message: result_data.msg,
                type: "error",
                duration: 1000
              });
            }
          })
          .catch(error => {
            this.$message({
              message: error.message,
              type: "error",
              duration: 1000
            });
          });
      } else {
        this.$message({
          message: "设备型号命名规则有误",
          type: "error",
          duration: 1000
        });
      }
      this.inputVisible = false;
      this.inputValue = "";
    },
    handleClose(tag) {
      //删除设备型号
      this.delXhVisible = true;
      this.tagId = tag.id;
    },
    deleteXhRow() {
      //删除设备型号
      this.axios
        .post("/model/RemoveModel.do", {
          id: this.tagId,
          adminId: this.adminId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.$message({
              message: result_data.msg,
              type: "success",
              duration: 1000
            });
            this.delXhVisible = false;
            setTimeout(() => {
              this.xhList();
            }, 50);
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleCat(index, row) {
      this.productId = row.id;
      this.submitDataXlh()
    },
    handleExport (index, row) {
      window.location.href = "/product/DownLoadSequenceNumber.do?id=" + row.id + '&_time=' + (new Date()).getTime();
    },
    // 分页导航
    handleCurrentChangeXlh(val) {
      this.pageXlh = val;
      this.submitDataXlh();
    },
    changeLimitXlh() {
      //改变页数
      this.pageXlh = 1;
      this.submitDataXlh();
    },
    searchXlh() {
      //查询
      this.pageXlh = 1;
      this.searchXlhformEnd = this.searchXlhform;
      this.submitDataXlh();
    },
    searchXlhReset (formName) {
      this.$refs[formName].resetFields();
      this.searchXlhformEnd = this.searchXlhform;
    },
    submitDataXlh() {
      this.axios
        .post("/product/ProductItemBySequenceNumber.do", {
         id: this.productId,
         page: this.pageXlh,
         limit: this.limitXlh,
         sequenceNumber: this.searchXlhformEnd.sequenceNumber
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.code) === 0) {
            this.tableDataXlh = result_data.data;
            this.totalXlh = result_data.count;
            this.catVisible = true;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    changeStatus(row) {
      // 保存编辑
      this.axios
        .post("/product/UpdateStatus.do", {
          id: row.id,
          status: row.status,
          createBy: this.adminId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.$message({
              message: result_data.msg,
              type: "success",
              duration: 1000
            });
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
         this.submitData();
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    }
  }
};
</script>

<style scoped>
.handle-box {
  margin-bottom: 20px;
}
handle-box-search {
  margin: 0;
}
.handle-select {
  width: 120px;
}

.handle-input {
  width: 200px;
  display: inline-block;
}
.del-dialog-cnt {
  font-size: 16px;
  text-align: center;
}
.table {
  width: 100%;
  font-size: 14px;
}
.red {
  color: #ff0000;
}
.crumbs-i-right {
  margin-right: 10px;
}
.table-search {
  padding: 18px 30px 0;
}
.el-tag + .el-tag {
  margin: 15px 10px 0px;
}
.button-new-tag {
  margin: 15px 10px 0px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}
.container-table {
  min-height: 440px;
}
</style>
